doctype html
| ]
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FitPlay Fitness
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap' rel='stylesheet')
link(rel='preconnect' href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,600&display=swap' rel='stylesheet')
style.
  body{
  /* animation-name: banner;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-timing-function: ease; */
  background-color: black;
  background-image: url(/static/gym.jpg);
  background-size: 105%;
  background-repeat: no-repeat;
  }
  a{
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  font-family: "Playfair Display", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  /* border:2px solid rgb(28, 121, 4) ; */
  border-radius: 5px;
  }
  .about:hover{
  color:transparent;
  }
  .about{
  position: relative;
  top: 15px;
  left: 540px;
  }
  .contact{
  position: relative;
  top: 15px;
  left: 570px;
  }
  .contact:hover{
  color: transparent;
  }
  .content{
  padding: 40px;
  margin-right: 600px;
  margin-top: 50px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  color: whitesmoke;
  }
  .tit{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(255, 255, 255, 0.767);
  margin-top: 5px;
  margin-bottom: 5px;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"]{
  padding: 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.726);
  border-radius: 4px;
  background-color: transparent;
  color: white;
  }
  fieldset{
  border: 1px solid transparent;
  }
  form{
  font-size: 17px;
  font-family: "Playfair Display", "Arial Narrow", Arial, sans-serif;
  }
  input[type="submit"]
  {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 7px;
  background-color: rgba(0, 128, 0, 0.726);
  font-size: 20px;
  font-family: "Playfair Display", "Arial Narrow", Arial, sans-serif;
  color: white;
  letter-spacing: 2px;
  }
  input[type="submit"]:hover{
  color: transparent;
  background-color: transparent;
  }
  #male,#female{
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  }
  /* @keyframes banner{
  0%{
  background-color: black;
  background-image: url(/gymf.jpg)
  }
  } */
  .about-content{
  position: relative;
  top: 100px;
  color: rgba(255, 255, 255, 0.87);
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 25px;
  /* border: 2px solid white; */
  border-radius: 10px;
  text-align: justify;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  /* color: rgba(250, 235, 215, 0.884); */
  }
  span{
  font-weight: bolder;
  color: rgba(0, 128, 0, 0.664);
  }
  h1{
  color: rgba(0, 128, 0, 0.726);
  text-shadow:2PX 2PX 5PX green;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
  top: 150px;
  padding: 20px;
  margin-left: 35px;
  font-size: 50px;
  font-style: italic;
  }
  .special{
  font-style: italic;
  }
  .main-head{
  color: rgba(0, 128, 0, 0.726);
  text-shadow:2PX 2PX 1PX green;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-style: italic;
  }
  img{
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  width: 100px;
  position: relative;
  margin: 15px;
  top: 120px;
  left: 20px;
  float: left;
  }
  .contactus{
  color: rgba(0, 128, 0, 0.726);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  position: relative;
  top: 130px;
  left: 50px;
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
  }
  #weight,#height{
  width: 20%;
  }
div
  a.about(href='#about-fitplay') ABOUT US
  a.contact(href='#contact-part') CONTACT US
.content
  p.tit
    span.main-head  FITPLAY
    br
    |  BEST FITNESS PLACE IN THE CITY
  // <hr>
  form(action='/' method ="post")
    p
      | NAME
      input#name(type='text' name='name' required='')
    p
      | AGE
      input(type='number' name='age' required='')
    fieldset
      legend GENDER
      p
        | Male 
        input#male(type='radio' name='gender')
        |  Female 
        input#female(type='radio' name='gender')
    p
      | MOBILE NO.
      span.mob-no (10-Digit)
      input#mob(type='number' name='mob')
    p
      | EMAIL
      input#email(type='email' name='email' required='')
    p.measure
      | WEIGHT
      span.kg  (in-kg)
      input#weight(type='number' name='weight' required='')
      |                 HEIGHT
      span.cm  (in-cm)
      input#height(type='number' name='height' required='')
    input(type='submit' value='SUBMIT')
h1#about-fitplay ABOUT FITPLAY
p.about-content
  | Treat yourself at the 
  span.special  FITPLAY GYM &amp; SPA 
  | New Delhi.
  br
  | High service standards with a great value statement makes Fitplay Gym &amp; Spa the ideal stake out for the people.
  span  Mr. Ronn 
  |  Owner at Fitplay Gym &amp; Spa. 
  br
  |  Special Cross Fit Studio, Boxing Studio, TRX Training, Aerobic Studio, Stretching Studio, Steam bath, Terace Garden, Cardio etc.
  | Fitplay Gym &amp; Spa with Fully Central AC &amp; Set up in 5000+sq feet area. Professional Trainers with more than experience of 10 years. Sunday Open Specially.
  | Special Timings For Girls As Well.
h1#contact-part CONTACT US
img(src='/static/21-218047_transparent-personal-trainer-png-gym-trainer-png-png.png.jpeg' alt='Trainer')
p.contactus
  | Ronn 
  br
  |             Conatct No. - +1 68xxxxxxxx
